* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    --main-padding: 5px;
    --main-color: #10CAB7;
}

body {
    font-family: "Work Sans", sans-serif;
}
.parent {
    background-color: #eee;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .heading h2 {
        font-size: 60px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.heading {
    text-align: center;
    line-height: 0.35;
}
.heading h2 {
    color: #EBECED;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
@media (max-width: 767px) {
    .special-heading {
    font-size: 60px;
    }
    .special-heading + p {
    margin-top: -20px;
    }
}
.heading p{
    color: #797979;
}
        /* header  */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    width: 60px;
    height: 24px;
}
.menu {
    width: 30px;
    height: 21px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
}
.lines {
    width: 30px;
    height: 21px;
    display: flex;
    align-content: space-between;
    flex-flow: wrap row-reverse;
}
.top-line, .middle-line {
    height: 2px;
    background-color: black;
    flex-basis: 100%;
}
.middle-line {
    height: 2px;
    flex-basis: 55%;
    transition: flex-basis .4s 0s ease;
}
.menu:hover .middle-line {
    flex-basis: 100%;
}

.bottom-line {
    height: 3px;
    background-color: black;
    flex-basis: 100%;
}

.drop-down-menu {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    background-color: #eee;
    position: relative;
    top: 20px;
    visibility: hidden;
    /* z-index: 2; */
    /* display: none; */
}
.drop-down-menu::before {
    content: "";
    border: transparent 10px solid;
    border-bottom: #eee 10px solid;
    position: absolute;
    left: 88%;
    top: -10%;

}
.menu:hover .drop-down-menu {
    visibility: visible;
}
.drop-down-menu li {
    padding: 15px;
    min-width: 200px;
    transition: padding-left .6s 0s ease;
    
}
.drop-down-menu li:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
.drop-down-menu li:hover {
    padding-left: 30px;
}
.drop-down-menu li a {
    text-decoration: none;
    color: black;
}
        /* the landing section */
.landing-page {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
}
.landing-page h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 50px;
}
.landing-page p {
    font-size: 19px;
    line-height: 1.8;
}
        /* freatures */
.features {
    background-color: #F6F6F6;
    padding: 60px 0;
}
.features .container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
}
.features .container .f {
    width: 300px;
    text-align: center;
    padding: 20px;
}
.features .container .f i {
    color: var(--main-color);
}
.features .container .f h3{
    margin: 30px 0;
    font-weight: 800;
}
.features .container .f p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
            /* srvices */
.services{
padding: 60px 0;
}